body {
    font-family: Arial;
    text-align: center;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.product {
    width: 200px;
    margin: 10px;
    cursor: pointer;
}
